{% extends "stepping_out/admin/base_site.html" %}
{% load i18n %}

{% block title %}{{ block.super }}&#8211;{% trans "Password reset" %}{% endblock %}

{% block content %}

<h1>{% trans "Password reset" %}</h1>

<p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}</p>

<form action="" method="post">{% csrf_token %}
<dl>
	<dt><label for="id_email">{% trans 'E-mail address:' %}</label></dt>
	<dd>{{ form.email }}</dd>
	{% if form.email.errors %}
	{% for error in form.email.errors %}<dd class='error'>{{ error }}</dd>
	{% endfor%}
	{% endif %}
</dl>
<p><button type="submit">{% trans 'Reset my password' %}</button></p>
</form>

{% endblock %}
