{% spaceless %}

{% load staticmedia adminmedia %}

{% endspaceless %}<!DOCTYPE html>

<html>

<head>
	<title>{% block title %}Stepping Out User Admin{% endblock %}</title>
	<link rel='stylesheet' type='text/css' href='{% mediaurl "stepping_out/modules/base.css" %}' />
	{% block javascript %}
	<script type='text/javascript' src='{% mediaurl "stepping_out/jquery.min.js" %}'></script>
	<script type='text/javascript' src='{% mediaurl "stepping_out/modules/base.js" %}'></script>
	{% endblock %}
</head>

<body>
	<div id='main'>
		<div id='header'>
			<h1>{% block admin_header %}<a href='{% url stepping_out_admin_root %}'>Stepping Out User Admin</a>{% endblock %}</h1>
		</div>
		<div class='container one'>
			{% block container_one %}
			<ul id='navigation' class='module'>
				{% if not request.user.is_authenticated %}
				<li><a href='{% url stepping_out_admin_root %}'>Log in</a></li>
				{% else %}
				{% include 'stepping_out/admin/modules/navigation.html' %}
				{% endif %}
			</ul>
			{% endblock %}
		</div>
		<div class='container two'>
			{% block container_two %}{% include 'stepping_out/admin/modules/container_two.html' %}{% endblock %}
		</div>
		<div id='content'>
			{% if messages %}
			<ul class='messages'>
				{% for message in messages %}
				<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
				{% endfor %}
			</ul>
			{% endif %}
			{% block content %}{% endblock %}
		</div>
	</div>
</body>

</html>