{% extends 'stepping_out/modules/base.html' %}
{% comment %}I need a way to get the number of fields. Should probably add a fields thing to the formset. Note: Django uses helpers for this. Should I?{% endcomment %}
{% block content %}
	{% if admin.title %}<h2>{{ admin.title }}</h2>{% endif %}
	{% if admin.help_text %}{{ admin.help_text|safe }}{% endif %}
	<form method='post' action=''>
	{% csrf_token %}
	{% for fieldset in fieldsets %}
		{% if fieldset.title %}<h3>{{ fieldset.title }}</h3>{% endif %}
		<dl>
		{% for field in fieldset %}
			{% if field.forms %}
			{% comment %}Then it's a formset {% endcomment %}
			{% with field as formset %}
				{{ formset.management_form }}
			<table>
				<thead>
					<tr>
					{% with formset.forms|first as form %}
						{% for field in form.visible_fields %}
							{% if not field.is_hidden %}
							<th{% if field.required %} class='required'{% endif %}>{{ field.label|capfirst }}</th>
							{% endif %}
						{% endfor %}
					{% endwith %}
					{% if formset.radio_renderer %}<th>Primary</th>{% endif %}
					</tr>
				</thead>
				{% if formset.help_text %}
				<tfoot>
					<tr>
						{% with formset.forms|first as form %}<td colspan='{% if formset.radio_renderer %}{{ form.visible_fields|length|add:"1" }}{% else %}{{ form.visible_fields|length }}{% endif %}'>
							<p class='help'>{{ formset.help_text }}</p>
						</td>{% endwith %}
					</tr>
				</tfoot>
				{% endif %}
				<tbody>
				{% for form in formset.forms %}
					{% if form.non_field_errors %}
					<tr><td colspan='{% if formset.radio_renderer %}{{ form.visible_fields|length|add:"1" }}{% else %}{{ form.visible_fields|length }}{% endif %}' class='errors'>{{ form.non_field_errors }}</td></tr>
					{% endif %}
					<tr>
						{% for field in form.hidden_fields %}
						{{ field }}
						{% endfor %}
						{% for field in form.visible_fields %}
							<td>{{ field }}
							{% if field.errors %}
							<ul class='errors'>
								{% for error in field.errors %}
								<li class='error'>{{ error }}</li>
								{% endfor %}
							</ul>
							{% endif %}
							</td>
						{% endfor %}
						{% if form.primary_widget %}
							<td>{{ form.primary_widget.tag }}</td>
						{% endif %}
					</tr>
					{% comment %}
					This section opens a new can of UI worms that I want closed for now.
					
					{% if form.instance in formset.pending_deletion %}
					<tr>
						<td colspan='{% if formset.radio_renderer %}{{ form.visible_fields|length|add:"1" }}{% else %}{{ form.visible_fields|length }}{% endif %}'>
							<p class='pending'>Pending deletion</p>
						</td>
					</tr>
					{% endif %}
					{% endcomment %}
				{% endfor %}
				</tbody>
			</table>
			{% endwith %}
			{% else %}
				<dt>{{ field.label_tag }}</dt>
				<dd>{{ field }}</dd>
				{% if field.errors %}<dd class='error'>{{ field.errors }}</dd>{% endif %}
				{% if field.help_text %}<dd class='help_text'>{{ field.help_text }}{% endif %}
			{% endif %}
		{% endfor %}
		</dl>
	{% endfor %}
		<button type='submit'>Save</button>
	</form>
{% endblock %}