{% extends 'stepping_out/modules/base.html' %}

{% block content %}
	{% if admin.title %}<h2>{{ admin.title }}</h2>{% endif %}
	{% if admin.help_text %}{{ admin.help_text|safe }}{% endif %}
	<form method='post' action=''>
	{% csrf_token %}
	{% for fieldset in fieldsets %}
		{% if fieldset.title %}<h3>{{ fieldset.title }}</h3>{% endif %}
		<dl>
		{% for field in fieldset %}
			{% if field.forms %}
			{% comment %}Then it's a formset {% endcomment %}
			{% with field as formset %}
				{{ formset.management_form }}
			<table>
				<thead>
					<tr>
					{% with formset.forms|first as form %}
						{% for field in form.visible_fields %}
							{% if not field.is_hidden %}
							<th{% if field.required %} class='required'{% endif %}>{{ field.label|capfirst }}</th>
							{% endif %}
						{% endfor %}
					{% endwith %}
					{% if formset.radio_renderer %}<th>Primary</th>{% endif %}
					</tr>
				</thead>
				<tbody>
				{% for form in formset.forms %}
					{% if form.non_field_errors %}
					<tr><td colspan="{{ form.fields|length }}" class='errors'>{{ form.non_field_errors }}</td></tr>
					{% endif %}
					<tr>
						{% for field in form.hidden_fields %}
						{{ field }}
						{% endfor %}
						{% for field in form.visible_fields %}
							<td>{{ field }}
							{% if field.errors %}
							<ul class='errors'>
								{% for error in field.errors %}
								<li class='error'>{{ error }}</li>
								{% endfor %}
							</ul>
							{% endif %}
							</td>
						{% endfor %}
						{% if form.primary_widget %}
							<td>{{ form.primary_widget.tag }}</td>
						{% endif %}
					</tr>
				{% endfor %}
				</tbody>
			</table>
			{% endwith %}
			{% else %}
				<dt>{{ field.label_tag }}</dt>
				<dd>{{ field }}</dd>
				{% if field.errors %}<dd>{{ field.errors }}</dd>{% endif %}
			{% endif %}
		{% endfor %}
		</dl>
	{% endfor %}
		<button type='submit'>Save</button>
	</form>
{% endblock %}