{% extends "stepping_out/modules/base.html" %}
{% load i18n adminmedia %}

{% block title %}{% trans 'Password change' %} &#8211; {{ block.super }}{% endblock %}

{% block content %}
<p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

<form action="" method="post">{% csrf_token %}
{% if form.errors %}
	<p class="error">
	{% blocktrans count form.errors.items|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
	</p>
{% endif %}

<dl>
	{% for field in form %}
	<dt>{{ field.label_tag }}</dt>
	<dd>{{ field }}</dd>
	{% for error in field.errors %}
	<dd class='error'>{{ error }}</dd>
	{% endfor %}
	{% endfor %}
</dl>
<p><button type="submit">{% trans 'Change my password' %}</button></p>

<script type="text/javascript">document.getElementById("id_old_password").focus();</script>
</form>
{% endblock %}
