*{padding:0;margin:0;background:transparent;border:0;text-decoration:none;}
ul,ol,li{list-style:none;}
table{border-collapse:collapse;width:100%;}

body{
	font:13px/20px Georgia;
	color:#000;
}

button, input, a, textarea, select{
	font-size:inherit;
	font-family:inherit;
	font-weight:inherit;
	color:#000;
}
#content a{text-decoration:underline;}
a:hover{color:#aaa;}

button{
	font-size:90%;
	cursor: pointer;
	border: #ddd outset;
	margin:-3px;
}
button:active{
	border: #aaa inset;
}

input[type='text'], input[type='password'], input[type='email'],
input[type='url'], textarea{
	background: #f8f8f8;
	padding:4px;
	border-left:#ddd solid 9px;
}
input[type=email]{
	width:95%;
	padding-right:5%;
}
input[type=text][readonly=readonly], input[type=email][readonly=readonly],
input[type=url][readonly=readonly], textarea[readonly=readonly]{
	background: #ddd;
}

p, ul{
	margin-bottom:10px;
}
dl{
	margin-bottom:20px;
}

dd + dt, dl table{
	margin-top:10px;
}

dt, thead th{
	font-variant: small-caps;
	font-weight: bold;
	text-transform: lowercase;
	font-size:15px;
}

th, td{
	vertical-align: top;
	text-align:left;
	padding: 2px 20px 0 0;
}

.container{
	width:12em;
}

.container.one{
	float:left;
	text-align:right;
}

.container.two{
	position:absolute;
	top:0;
	right:0;
}

.error, .success, .help, .pending{
	border-left:9px solid;
	font-size:12px;
	padding-left: 5px;
}

.error {color: #a00;}
.success{color:#0a0;}
.help{border-left-color:#aad;font-style:italic;}
.pending{border-left-color:#eee;color: #aaa;font-style:italic;margin-bottom:2px;}

.toggler{cursor:pointer;}
.delete{text-transform:lowercase;display:block;float:right;margin-right:5em;}
.delete input:checked + span{color:#d00;}
.delete input{display:none;}

#header, #content{
	margin:0 15em;
}

#header h1{
	color: #aaa;
	font: 25px/15px Georgia;
}
#header a{color:inherit;}

#content h1{
	color: #555;
	font:20px/15px Georgia;
	margin-bottom:20px;
}

.container.one, #content{
	margin-top:2em;
}

#main{
	width:65em;
	margin:4em auto;
	position:relative;
}

#navigation li.active{
	list-style: disc;
	color:#bbb;
}

#navigation li.active a, #navigation li a:hover{
	color:#6a6a6a;
}