{% extends 'stepping_out/base_site.html' %}

{% block container_one %}
<ul>
	<li><a href='{% url stepping_out_admin_password_reset %}'>Forgot your password?</a></li>
	<li><a href='{% url stepping_out_admin_account_create %}'>Create an account</a></li>
</ul>
{% endblock %}

{% block container_two %}{% endblock %}

{% block content %}
{% if message %}<p class='error'>{{ message }}</p>{% endif %}
<form action='' method='post'>
{% csrf_token %}
{% for field in form.hidden_fields %}
{{ field }}
{% endfor %}
<dl>
{% for field in form.visible_fields %}
	{% include 'stepping_out/form_field.html' %}
{% endfor %}
</dl>
<button type='submit'>Login</button>
</form>
{% endblock %}