{% for name, url, is_active, subnav in navbar %}
	<li{% if is_active %} class='active'{% endif %}>
		{% if url %}<a href='{{ url }}'{% else %}<span{% endif %} id='navigation_{{ forloop.counter0 }}'>
		{{ name }}
		{% if url %}</a>{% else %}</span>{% endif %}
		{% if subnav %}
		<ul class='collapse' rel='navigation_{{ forloop.counter0 }}'>
			{% for name, url, is_active, subsubnav in subnav %}
			<li{% if is_active %} class='active'{% endif %}>
				{% if url %}<a href='{{ url }}'{% else %}<span{% endif %} id='navigation_{{ forloop.parentloop.counter0 }}_{{ forloop.counter0 }}'>
				{{ name }}
				{% if url %}</a>{% else %}</span>{% endif %}
				{% if subsubnav %}
				<ul>
					{% for name, url, is_active in subsubnav %}
					<li{% if is_active %} class='active'{% endif %}>
						{% if url %}<a href='{{ url }}'{% else %}<span{% endif %} id='navigation_{{ forloop.parentloop.parentloop.counter0 }}_{{ forloop.parentloop.counter0 }}_{{ forloop.counter0 }}'>
						{{ name }}
						{% if url %}</a>{% else %}</span>{% endif %}
					</li>
					{% endfor %}
				</ul>
				{% endif %}
			</li>
			{% endfor %}
		</ul>
		{% endif %}
	</li>
{% endfor %}